*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    width: 100%;
    height: 90vh;
    position: relative;
    top: 0;
    left: 0;
}
.bg-vid{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
}
.nav{
    width: 100%;
    background-color: rgba(255,255,255,.0);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    height: 80px;
}
.nav .logo{
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);

}
.nav-menu ul{
    display: flex;
    list-style: none;
}
.nav-menu ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgba(255,255,255,.3);
    font-size: 17.5px;
    margin: 0 15px;
    transition: .4s;
}
.nav-menu ul a:hover{
    color: crimson;
}
.header-content{
    width: 100%;
    display: grid;
    place-items: center;
    height: calc(100% - 80px);
    text-align: center;
}
.header-content h1{
    color: white;
    text-shadow: 5px 5px 5px rgba(255,255,255,.3);
    text-transform: uppercase;
    font-size: 40px;
    padding: 10px 20px;
}
.header-content p{
    color: white;
    text-shadow: 5px 5px 5px rgba(255,255,255,.3);
    margin: 5px 0 40px 0;
}
.header-content input[type=button]{
    padding: 10px 30px;
    margin: 0 10px;
    font-size: 18px;
    color: white;
    border: 2px solid white;
    background-color: rgba(255,255,255,.3);
}
.des{
    width: 100%;
    height: 30vh;
    position: relative;
    top: 0;
    left: 0;
}

.des-content{
    width: 100%;
    display: grid;
    place-items: center;
    height: calc(100%);
    text-align: center;
}
.des-content h2{
    color: rgb(122, 122, 122);
    margin: 5px 0 15px 0;
    padding: 10px 30px;
}